.read-container{
    width: 100%;
    height: 296px;
    background-image: url("https://biblusi.ge/_nuxt/img/readtest.4ffc715.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.read{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 50px;
}
.read h1{
    font-size: 35px;
}
.read button{
    width: 180px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    background-color: #084fa3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}