<div class="footer-container">
    <div class="footer-nav">
        <div class="footer-adress">
            <div class="logo-img">
                <img src="https://biblusi.ge/_nuxt/img/bibluslogo.7591321.png" alt="">
            </div>
            <p>თბილისი, იოსებიძის ქ. №49</p>
            <p>info.biblusi.ge</p>
            <p>+995 (32) 248 68 44</p>
        </div>
        <div class="company">
            <h6>კომპანია</h6>
            <a>ჩვენ შესახებ</a>
            <a>ვაკანსია</a>
            <a>კომერციული შესყიდვები</a>
            <a>ფილიალები</a>
            <a>ღირებულებები</a>
        </div>
        <div class="product">
            <h6>პროდუქცია</h6>
            <a>წიგნები</a>
            <a>აქსესუარები</a>
            <a>სასკოლო</a>
            <a>საახალწლო</a>
            <a>არტი და ქრაფტი</a>
            <a>ანტიბაქტერიული</a>
            <a>სათამაშოები</a>
            <a>პეპელას სათამმაშოები</a>
            <a>xs სათამაშოები</a>
        </div>
        <div class="help">
            <h6>დახმარება</h6>
            <a>გამოწერის ინსტრუქცია</a>
            <a>დახმარების ცენტრი</a>
            <a>პრობლემა საიტზე</a>
        </div>
        <div class="costumer">
            <h6>მომხმარებელი</h6>
            <a>რეგისტრაცია</a>
            <a>კალათა</a>
            <a>სურვილების სია</a>
        </div>
    </div>
</div>