<div class="offers-container">
    <div class="offers">
        <div class="offers-components">
            <h1>შეთავაზებები</h1>
            <div class="offers-btns">
                <div class="seeAllBtn">
                    <button>მაჩვენე ყველა</button>
                </div>
                <div class="slide-btns">
                    <button class="nav-btn left" (click)="prev()">❮</button>
                    <button class="nav-btn right" (click)="next()">❯</button>
                </div>
            </div>
        </div>
        <div class="offers-carousel">
            <div class="carousel-container">
                <div class="book-card" *ngFor="let card of offers.slice(currentIndex, currentIndex + visibleCards)">
                    <div class="book-img">
                        <img [src]="card.image" alt="Book Cover" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>