<div class="offers-container">
    <div class="offers">
        <div class="offers-components">
            <h1>გაიცანით ავტორები</h1>
            <div class="offers-btns">
                <div class="seeAllBtn">
                    <button>მაჩვენე ყველა</button>
                </div>
                <div class="slide-btns">
                    <button class="nav-btn left" (click)="prev()">❮</button>
                    <button class="nav-btn right" (click)="next()">❯</button>
                </div>
            </div>
        </div>
        <div class="offers-carousel">
            <div class="carousel-container">
                <div class="book-card" *ngFor="let author of authors.slice(currentIndex, currentIndex + visibleCards)">
                   <div class="author-name">
                    <h1>{{author.fullname}}</h1>
                    <p>{{author.year_start}}</p>
                    <p>{{author.country}}</p>
                   </div>
                   <div class="author-image">
                        <img [src]="author.img" alt="">
                   </div>
                   <div class="author-info">
                        <h1>ავტორის შესახებ</h1>
                        <p>{{author.description}}</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>