<nav>
    <div class="nav-top">
        <a><img src="https://biblusi.ge/_nuxt/img/bibluslogo.7591321.png" alt=""></a>
        <a><img src="https://apiv1.biblusi.ge/storage/category/lZYyZpHHcsP0IMb5XdI7OKkQBCfd72cVJeff0bld.jpg" alt=""></a>
        <a><img src="https://apiv1.biblusi.ge/storage/category/PneBIP4iUcuf1Mmgts7rU8wMJktrkltscynq2rAB.jpg" alt=""></a>
        <a><img src="https://apiv1.biblusi.ge/storage/category/rP6kswUf1TK7IcDk4nvdGTzfkIaQs9IEJDHpmk6w.jpg" alt=""></a>
    </div>
    <div class="line"></div>
    <div class="nav-bottom">
        <div class="shearch">
            <input type="text" placeholder="რისი მოძებნა გსურს?">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDojMjcyODI5O308L3N0eWxlPjwvZGVmcz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMS45NiAtMS45NikiPjxwYXRoIGNsYXNzPSJhIiBkPSJNMjEuNjY1LDIwLjI0OGwtMi44MjQtMi44MTRhOS41LDkuNSwwLDEsMC0xLjQwNywxLjQwN2wyLjgxNCwyLjgyNGExLDEsMCwxLDAsMS40MTctMS40MTdaTTQsMTEuNDc4YTcuNDgzLDcuNDgzLDAsMSwxLDcuNDgzLDcuNDgzQTcuNDgzLDcuNDgzLDAsMCwxLDQsMTEuNDc4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPjwvZz48L3N2Zz4=" alt="">
        </div>
        <div class="cart">
            <div class="cart-button">
                <button><img src="https://zoommer.ge/icons/header-cart.svg" alt=""></button>
            </div>
        </div>
        <div class="user">
            <button><img src="https://biblusi.ge/_nuxt/img/user-large-solid.7a17053.png" alt=""></button>
        </div>
        <div class="burger-menu">
            <button>
                <div class="lin"></div>
                <div class="lin"></div>
                <div class="lin"></div>
            </button>
        </div>
    </div>
</nav>