.category-cards{
    width: 1020px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}
.category{
    display: flex;
    justify-content: center;
}
.card img{
    width: 80px;
    height: 80x;
}
.card h6{
    font-size: 14px;
}
.card{
    width: 497px;
    height: 127px;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    border: none;
}